* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

/* css untuk bagian header, logo, menu */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}  

.logo {
  width: 124px;
  margin-top: 20px;
}

.logo-text {
  color: white;
  margin-top: 15px;
}

.header-left {
  float: left;
  margin-left: 20px;
}
  
.header-right {
  float: right;
  margin-right: 20px;
}
  
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}
  
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
 
.menu-icon {
  color: white;
  float: right;
  display: none;
  visibility: hidden;
}


/*awal css untuk bagian Animasi Tombol */
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  /*opacity: 0.8;*/
  border-radius: 4px;
  text-align: center;
}
  
.btn:hover {
  /*opacity: 1;*/
  position: relative;
  top: 2px;
  box-shadow: 0 5px #1a7940;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}
  
.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
/*Akhir css untuk bagian Animasi Tombol */


/* Awal css untuk bagian Animasi sliding */
.slide {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  position: relative;
  background-color:skyblue;
  box-shadow: 0 7px lightseagreen;
  animation-name: example;
  animation-duration: 2s;
}
  
 @keyframes example {
  0%   {background-color: skyblue; left:0px;}
  50%  {background-color: greenyellow; left:500px;}
  100% {background-color: skyblue; left:0px;} 
}
/* Akhir css untuk bagian Animasi sliding */

  
/* Awal css untuk bagian Utama */  
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(../images/Team.png);
  background-size: cover;
  background-blend-mode: overlay;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
    font-size: 50px;
    font-weight: bold;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}
  
.btn-wrapper p {
  margin: 10px 0;
}
  
.signup {
  background-color: #239b76;
}
  
.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}
  
.twitter {
  background-color: #55acee;
}

/* Awal css untuk bagian Utama */ 
.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
  
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}
/* Akhir css untuk bagian Utama */ 

/* Awal css untuk contact us form */
.contact-form {
  padding: 25px 0;
  width: 100%;
  background-color: #f1f5f8;
}

.form-heading {
  color: #5f5d60;
  font-family: "Roboto", sans-serif;
}

.form-heading h2 {
  margin-bottom: 20px;
}

.form-heading p {
  font-size: 18px;
  color: #5f5d60;
}

.form-heading hr {
  margin-bottom: 50px;
  border-top: 4px #5f5d60;
}

form label {
  color: #5f5d60;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

form input,
form textarea {
  width: 50%;
  border: 1px solid #dee7ec;
  border-radius: 5px;
  padding: 5px;
}

.row {
  display: flex;
  padding: 5px 10px;
  flex-wrap: wrap;
}

.row-15 {
  width: 15%;
}

.row-75 {
  width: 75%;
}

.row-100 {
  width: 52.5%;
}

.btn-send {
  padding: 15px 55px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #053779;
  color: #fff;
  position: relative;

  z-index: 1;
}

.btn-send::after {
  content: "";
  position: absolute;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  z-index: -1;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 200ms ease-in;
}

.btn-send:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
/* Awal css untuk contact us form */


/* Awal css untuk bagian footer*/
footer p {
  font-size: 16px;
  line-height: 8px;
}

footer a {
  color: white;
}
  
footer {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.copyright {
  text-align: center;
}
/* Akhir css untuk bagian footer*/



/* INI CSS UNTUK PAGE PORTOFOLIO */

/* css untuk bagian top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* css untuk bagian top navigation bar navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* css untuk bagian Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Awal css untuk bagian Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* css untuk bagian Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* css untuk bagian Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}
